.hotel-list{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.hotel-list .card{
    
    display: flex;
    flex-direction: column;
    height: 18rem;
    width: 10rem;
}
.hotel-list li{
    margin: 0 0 0.5rem 0;
}
.card-button{
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.card-button button{
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.item-search{
    display: flex;
    gap: 1rem;
}
.item-search input{
    width: 15rem;
    height: 2rem;
    border: 1px solid black;
    outline: none;
    border-radius: 0.2rem;
}
.item-search input:hover{
    outline: lightgreen;
    border: 2px solid green;
    
}
.item-search button{
    background-color: green;
    border: none;
    border-radius: 0.2rem;
    padding: 0 1rem 0 1rem;
    color: white;
    cursor: pointer;
}
