.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 50%; 
    height: 100%; 
    overflow: auto; 
     margin: auto;
    
  }

  .modal-hidden{
    display: none;
  }

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto; 
    border: 1px solid lightgray;
    border-radius: 0.5rem;
  }
  
 .modal-header span{
    font-weight: 1000;
    font-size: large;
    padding: 0.5rem;
 }
 .modal-body{
    display: flex;
    margin: 0 1rem 0 1rem;
    
 }
 .modal-button{
    display: flex;
    justify-content:end;
    margin: 1rem;
 }
  